<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <!-- 默认自动映射 -->
        <setting name="autoMappingBehavior" value="PARTIAL" />
        <!-- 下划线与驼峰式命名规则的自动映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!-- 延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true" />
    </settings>

    <!-- 扫描包，注册别名 -->
    <typeAliases>
        <package name="com.lin.chapter4.po" />
    </typeAliases>

    <!--定义数据库信息，默认使用development数据库构建环境-->
    <environments default="development">
        <environment id="development">
            <!--采用jdbc事务-->
            <transactionManager type="JDBC"/>
            <!-- 配置数据链接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://host:3306/test_mybatis" />
                <property name="username" value="linhuang" />
                <property name="password" value="password" />
            </dataSource>
        </environment>
    </environments>

    <!-- 通过文件路径引入映射器 -->
    <mappers>
        <mapper resource="mapper/roleMapper.xml" />
        <mapper resource="mapper/studentMapper.xml" />
        <mapper resource="mapper/studentSelfcardMapper.xml" />
        <mapper resource="mapper/lectureMapper.xml" />
        <mapper resource="mapper/studentLectureMapper.xml" />
        <mapper resource="mapper/studentHealthFemaleMapper.xml" />
        <mapper resource="mapper/studentHealthMaleMapper.xml" />
    </mappers>
</configuration>